<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WindowsApplication1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="SVR_HOST" value="114.202.2.33" />
    <add key="SVR_LISTENPORT" value="8881" />
    <add key="SVR_SENDPORT" value="8882" />
    <add key="SVR_CHECKPORT" value="8885" />
    <add key="SVR_CRMPORT" value="8886" />
    <add key="SVR_FILEPORT" value="9001" />
    <add key="DB_HOST" value="localhost" />
    <add key="DB_NAME" value="wedo_db" />
    <add key="DB_USER" value="root" />
    <add key="DB_PASS" value="Genesys!@#" />
    <add key="COM_CODE" value="" />
    <add key="SVR_TYPE" value="" />
    <add key="DEVICE" value="" />
    <add key="AUTO_START" value="" />
    <add key="LICENSE_PORT" value="5999" />
    <add key="FtpLocalFolder" value="c:\\temp" />
    <add key="FtpHost" value="ftp://114.202.2.33/Update/server/" />
    <add key="FtpPort" value="21" />
    <add key="FtpPass" value="eclues!@" />
    <add key="FtpRemoteFolder" value="" />
    <add key="FtpUserName" value="eclues" />
    <add key="FtpVersion" value="2.0.9" />
    <add key="UpdaterDir" value="C:\\MiniCTI\\AutoUpdater_Server\AutoUpdater_Svr.exe" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>