<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsApplication1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <appSettings>
    <add key="SVR_HOST" value="211.52.153.160"/>
    <add key="SVR_LISTENPORT" value="8881"/>
    <add key="SVR_SENDPORT" value="8882"/>
    <add key="SVR_CHECKPORT" value="8885"/>
    <add key="SVR_CRMPORT" value="8886"/>
    <add key="SVR_FILEPORT" value="9001"/>
    <add key="DB_HOST" value="localhost"/>
    <add key="DB_NAME" value="wd_test"/>
    <add key="DB_USER" value="root"/>
    <add key="DB_PASS" value="Genesys!@#"/>
    <add key="COM_CODE" value=""/>
    <add key="LICENSE_PORT" value="5999"/>
  </appSettings>
</configuration>